@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --main-color: #d5fff1;
  --off-color: #a0c8bb;
  --third-color: #6d9487;
  --border-radius: 4px;
  --main-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  --small-margin: 20px;
  --big-margin: 40px;
}
html {
  background: url("../images/background.jpg") no-repeat center center / cover;
  background-color: #2f4858;
  min-height: 100vh;
  max-width: 100vw;
}

* {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  letter-spacing: 0.1rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
  max-width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Jost", sans-serif;
}

div {
  opacity: 90%;
}

#main-heading {
  font-weight: 300;
  font-size: 250%;
  color: var(--third-color);
  letter-spacing: 0.3rem;
  margin: 20px;
  text-shadow: #00000076 0px 0px 1px;
}

hr {
  width: 100vw;
  border: 1px solid var(--third-color);
  margin-bottom: 20px;
}

p {
  text-align: center;
  margin: 0px 20px;
  color: black;
}

strong {
  text-shadow: #ffffff76 0px 0px 2px;
  font-weight: 500;
}

#set-title {
  padding: 0px 0px;
}

.alert {
  color: red;
}

.btn {
  box-shadow: var(--main-shadow);
  border-style: hidden;
  border-radius: var(--border-radius);
  background-color: var(--main-color);
  opacity: 90%;
}

.btn:hover {
  background-color: rgba(255, 0, 0, 0.608);
  box-shadow: white 0px 0px 4px;
}

.active {
  background-color: rgba(255, 0, 0, 0.395);
  box-shadow: white 0px 0px 4px;
}

#title-setter {
  box-shadow: var(--main-shadow);
  background-color: var(--off-color);
  border-radius: var(--border-radius);
  border: hidden;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: var(--small-margin);
  padding: 10px;
  width: 286.41px;
}

#title-setter .text-input {
  margin: 5px 10px;
}

#data-setter {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: var(--main-shadow);
  background-color: var(--off-color);
  border-radius: var(--border-radius);
  border: hidden;
  align-items: center;
  margin-top: var(--small-margin);
  padding: 10px 20px;
  max-width: 100vw;
}
#data-setter div {
  position: relative;
  padding: 20px;

}

#title-submit-btn {
  font-size: 50%;
  padding: 2px 20px;
  border-radius: var(--border-radius);
}

#rename-btn {
  padding: 2px 20px;
}

.text-input {
  padding-left: 6px;
  border-radius: var(--border-radius);
  border-style: hidden;
  width: 100px;
  height: 1.5rem;
  opacity: 60%;
}

#name-heading {
  display: inline-block;
}

#value-heading {
  position: relative;
  display: inline-block;
  left: 100px;
}

#data-setter button {
  box-shadow: var(--main-shadow);
  margin-bottom: 10px;

  width: 100px;
  border-style: hidden;
  border-radius: var(--border-radius);
}

#reset-data-setter-btn {
  padding: 20px;
}

/* + row button DIV */
.btn-div {
  display: flex;

  justify-content: center;
  align-items: center;
}

#plus-row-btn {
  letter-spacing: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  padding: 5px;
}

#plus-row-btn:hover {
  background-color: rgba(255, 0, 0, 0.608);
  box-shadow: white 0px 0px 4px;
}

#data-setter .remove-row-btn {
  width: 45px;
}
#data-setter .remove-row-btn:hover {
  background-color: rgba(255, 0, 0, 0.608);
  box-shadow: white 0px 0px 4px;
}

#chart-buttons {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.draw-chart-btn {
  margin: 5px;
  padding: 10px;
  flex-basis: 50%;
}

#example-chart-btn {
  color: white;
  background-color: var(--third-color);
}
#example-chart-btn:hover {
  background-color: rgba(255, 0, 0, 0.608);
  box-shadow: white 0px 0px 4px;
}

.fa-solid {
  font-size: 100%;
}

#canvas-div {
  display: none;
  flex-direction: column;
  align-self: center;
  padding: 20px;
  margin-bottom: 20px;
  height: 400px;
  width: 400px;
  max-width: 90vw;
  background-color: var(--off-color);
  border-radius: var(--border-radius);
}
#js-chart {
  margin-bottom: 40px;
}

#save-chart-btn {
  padding: 5px 10px;
}

footer {
  margin-top: 40px;
  bottom: 0px;
  margin-bottom: 20px;
}
footer p {
  font-size: smaller;
}

@media screen and (min-width: 768px) {
  #main-heading {
    font-weight: 200;
    font-size: 600%;
    text-shadow: #00000076 0px 0px 2px;
  }
  #title-setter {
    display: flex;
    align-items: center;

    border-radius: var(--border-radius);
    box-shadow: var(--main-shadow);
    margin-top: 30px;
    padding: 20px 30px;
    width: 526.41px;
  }

  .text-input {
    width: 200px;
    margin: 10px;
  }

  #data-setter {
    margin-top: var(--big-margin);
    margin-bottom: var(--small-margin);
    padding: 20px;
  }

  #value-heading {
    left: 340px;
  }

  #plus-row-btn {
    letter-spacing: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    padding: 10px;
  }
  #chart-buttons {
    display: block;
  }
  .draw-chart-btn {
    padding: 20px;
  }

  #canvas-div {
    width: 90vw;
    max-width: 800px;
    height: 60vh;
    max-height: 800px;
  }
  .fa-solid {
    font-size: 150%;
  }
}
