@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --main-color: #d5fff1;
  --off-color: #a0c8bb;
  --third-color: #6d9487;
  --border-radius: 4px;
  --main-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  --small-margin: 20px;
  --big-margin: 40px;
}
html {
  background-color: #2f4858;
}

* {
  font-family: "Jost", sans-serif;
  font-weight: 300;
  letter-spacing: 0.1rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
  max-width: 100vw;
}

#main-heading {
  font-weight: 200;
  font-size: 300%;
}

#set-title {
  margin: 0px 20px;
  padding: 10px 20px;
  background-color: var(--off-color);
  border-radius: var(--border-radius);
}

.btn {
  box-shadow: var(--main-shadow);
  border-style: hidden;
  border-radius: var(--border-radius);
  background-color: var(--main-color);
}

#main-heading {
  color: var(--main-color);
  letter-spacing: 0.3rem;
  margin: 20px;
  text-shadow: #d5fff176 0px 0px 4px;
}

#title-setter {
  box-shadow: var(--main-shadow);
  background-color: var(--off-color);
  border-radius: var(--border-radius);
  border: hidden;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: var(--small-margin);
  padding: 10px;
}

#title-setter .text-input {
  margin: 5px 10px;
}

#data-setter {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: var(--main-shadow);
  background-color: var(--off-color);
  border-radius: var(--border-radius);
  border: hidden;
  align-items: center;
  margin-top: var(--small-margin);
  padding: 10px 20px;
  max-width: 100vw;
}
#data-setter div {
  position: relative;
  padding: 20px;
}

#title-submit-btn {
  font-size: 50%;
  padding: 2px 20px;
  border-radius: var(--border-radius);
}

#rename-btn {
  padding: 2px 20px;
}

.text-input {
  padding-left: 6px;
  border-radius: var(--border-radius);
  border-style: hidden;
  width: 100px;
  height: 1.5rem;
  opacity: 60%;
}

#name-heading {
  display: inline-block;
}

#value-heading {
  position: relative;
  display: inline-block;
  left: 95px;
}

#data-setter button {
  box-shadow: var(--main-shadow);
  margin-bottom: 10px;

  width: 100px;
  border-style: hidden;
  border-radius: var(--border-radius);
}

/* + row button DIV */
.btn-div {
  display: flex;

  justify-content: center;
  align-items: center;
}

#plus-row-btn {
  letter-spacing: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  padding: 5px;
}

#data-setter .remove-row-btn {
  width: 45px;
}

#chart-buttons {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.draw-chart-btn {
  margin: 5px;
  padding: 10px;
  flex-basis: 50%;
}

#example-chart-btn {
  background-color: #d1ed8d;
}

#chart-div {
  background-color: var(--main-color);
}

.fa-solid {
  font-size: 100%;
}

@media screen and (min-width: 768px) {
  #main-heading {
    font-weight: 200;
    font-size: 600%;
  }
  #title-setter {
    display: flex;
    align-items: center;
    background-color: var(--third-color);
    border-radius: var(--border-radius);
    box-shadow: var(--main-shadow);
    margin-top: 30px;
    padding: 20px 30px;
  }

  .text-input {
    width: 200px;
    margin: 10px;
  }

  #data-setter {
    margin-top: var(--big-margin);
    padding: 20px;
  }

  #value-heading {
    left: 330px;
  }


  #plus-row-btn {
    letter-spacing: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    padding: 10px;
  }
  #chart-buttons {
    display: block;
  }
  .draw-chart-btn {
    padding: 20px;
  }
  .fa-solid {
    font-size: 200%;
  }
}
